# Application
PORT=
DOMAIN_URL=http://localhost

# Database
MONGO_URI=

# Smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# Payment Gateway
# Zarinpal
ZARINPAL_MERCHANT_ID=
ZARINPAL_REQUEST_PAYMENT_URL=
ZARINPAL_VERIFY_PAYMENT_URL=
ZARINPAL_START_PAYMENT_URL=
# Zibal
ZIBAL_MERCHANT_ID=
ZIBAL_REQUEST_PAYMENT_URL=
ZIBAL_VERIFY_PAYMENT_URL=
ZIBAL_START_PAYMENT_URL=